 #uni-con {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
    box-sizing: border-box;

 }

.grid {
    border: 1px solid red;
    box-sizing: border-box;
}

.hover {
    background-color: blue;
}