 #uni-con {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    height: 800px;
    width: 800px;
 }

.grid {
    border: 1px solid red;
    height: 48px;
    width: 48px;
}

.hover {
    background-color: blue;
}